Repository louis-leibo/xhec-mlops-2025-project: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-fix, ruff-sort, nbstripout

ruff-format:
  name: Formatting (ruff)
  entry: uv run ruff format
  language: system

ruff-fix:
  name: Linting (ruff)
  entry: uv run ruff check
  language: system

ruff-sort:
  name: Sorting (ruff)
  entry: uv run ruff check --select I --fix
  language: system

nbstripout:
  name: Strip Jupyter notebook output (nbstripout)
  entry: uv run nbstripout
  language: system

feat: Complete environment setup for PR #0
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  PR_0.md
  README.md
  pyproject.toml
  uv.lock
Due: none

fix: Add newline at end of .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

test: Add basic environment tests for CI
  tests/__init__.py
  tests/test_environment.py
Due: ruff-format, ruff-fix, ruff-sort

addind data - not best practice but small storage
  data/abalone.csv
Due: none

feat: Complete EDA and modelling notebooks for PR #1
  .gitignore
  PR_1.md
  notebooks/eda.ipynb
  notebooks/modelling.ipynb
  pyproject.toml
  uv.lock
Due: nbstripout

eda & modelling
  notebooks/eda.ipynb
  notebooks/modelling.ipynb
Due: nbstripout

fix: remove trailing whitespace for pre-commit CI
  PR_1.md
Due: none

feat: amélioration du modèle avec feature engineering et Random Forest
  notebooks/modelling.ipynb
Due: nbstripout

feat: complete eda and modelling with improvements
  data/abalone.csv
  notebooks/eda.ipynb
  pyproject.toml
  uv.lock
Due: nbstripout

Restructure notebook code into modular Python scripts
  .pre-commit-config.yaml
  .pre-commit-config.yaml.yaml
  data/abalone.csv
  requirements-dev.in
  src/modelling/main.py
  src/modelling/predicting.py
  src/modelling/preprocessing.py
  src/modelling/training.py
  src/modelling/utils.py
  src/web_service/local_objects/model.pkl
Due: ruff-format, ruff-fix, ruff-sort

correction discrète du ci.yaml
  .github/workflows/ci.yaml
  .pre-commit-config.yaml
  tests/test_environment.py
Due: ruff-format, ruff-fix, ruff-sort

Prefect server added ; Script added to run server and deployment
  README.md
  pyproject.toml
  src/__init__.py
  src/deployment.py
  src/modelling/__init__.py
  src/modelling/main.py
  src/modelling/predicting.py
  src/modelling/preprocessing.py
  src/modelling/training.py
  src/web_service/local_objects/model.pkl
  start_training.ps1
  uv.lock
Due: ruff-format, ruff-fix, ruff-sort

Added sh
  start_training.sh
Due: none

MLFlow added
  README.md
  src/deployment.py
  src/modelling/main.py
Due: ruff-format, ruff-fix, ruff-sort

Update README.md
  README.md
Due: none

Update README.md for CI badge
  README.md
Due: none

feat: Complete FastAPI Docker deployment (Step 4)
  .dockerignore
  Dockerfile.app
  README.md
  bin/run_services.sh
  pyproject.toml
  src/web_service/lib/inference.py
  src/web_service/lib/models.py
  src/web_service/main.py
  test_api.sh
  uv.lock
Due: ruff-format, ruff-fix, ruff-sort

chore: Remove PR_4.md as per instructions
  Dockerfile.app.pip
  Dockerfile.streamlit
  PR_4.md
Due: none

Dockerized MLFlow, Prefect, Training and connected to API
  .pre-commit-config.yaml
  Dockerfile.app
  Dockerfile.app.pip
  Dockerfile.mlflow
  Dockerfile.prefect
  Dockerfile.streamlit
  Dockerfile.training
  PR_2.md
  PR_3.md
  README.md
  bin/run_services.sh
  docker-compose.yml
  pyproject.toml
  src/modelling/main.py
  src/web_service/lib/inference.py
  src/web_service/lib/models.py
  src/web_service/local_objects/model.pkl
  src/web_service/main.py
  src/web_service/model_training.py
  src/web_service/utils.py
  start_docker.ps1
  start_docker.sh
  start_training.ps1
  start_training.sh
Due: ruff-format, ruff-fix, ruff-sort

fix(api): align prediction input fields with model training columns (added mapping + verified curl prediction works)
  src/web_service/main.py
Due: ruff-format, ruff-fix, ruff-sort

Path conditions:
  ruff-format: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  ruff-fix: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  ruff-sort: any of: \.py$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
  nbstripout: any of: (.ipynb)$, but not: ^(.svn|CVS|.bzr|.hg|.git|__pycache__|.tox|.ipynb_checkpoints|assets|tests/assets/|venv/|.venv/)
